body{
	font-family: Arial;

}
.wrap{

	max-width: 750px;
	border-radius: 20px;
	margin: auto;
	background-color: rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding: 20px;
	color:#fff;
	margin-top: 30px;
	display: table;
}
label {
	float: left;
}

h2{
	text-align: center;
}

input[type = text], input[type=password]{
	width:100%;
	box-sizing: border-box;;
	padding: 10px 5px;
	background:rgba(0,0,0,0.10);
	outline: none;
	border: none;
	border-bottom: 1px;
	color: #fff;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
}

input[type=date]{
	background-color: rgba(0,0,0,0.10);
	opacity: 0.7;
	color: #fff;
	padding: 10px 5px;
	margin: 5px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
	border: none;
	outline: none;
}
input[type=date]:hover{
	cursor: pointer;
}
::-webkit-calendar-picker-indicator {
	filter: invert(1);
 	cursor: pointer;
}

input[type=submit]{
	width: 100%;
	box-sizing:border-box;
	padding: 10px 0;
	margin-top: 30px;
	outline: none;
	border: none;
	background:#60adde;
	opacity: 0.7;
	border-radius: 20px;
	font-size: 20px;
	color:#fff;
}
	input[type=submit]:hover{
		background:#003366;
		opacity: 0.8;
		cursor: pointer;
}

input[type=button]{
		width: 100%;
		box-sizing: border-box;
		border-radius: 20px;
		border: none;
		outline: none;
		color: #fff;
		background-color: #60adde;
		padding: 10px 0;
		margin-top: 20px;
		font-size: 20px;
		opacity: 0.7;

}
	input[type=button]:hover{
		background:#003366;
		opacity: 0.8;
		cursor: pointer;
}