@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html{
    overflow-x: hidden;
  }
  * {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
  }

  .pl {
    padding-left: 10px;
  }

    .logo{
    height: 40px;
  }

  .links{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background: white;
    color: #414141;
    height: 40px;
    box-shadow: 0px 10px 35px -18px rgba(0,0,0,0.2);
    transition: all .5s ease;
  }

  nav:hover {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background: #414141;
    color: white;
    height: 50px;
    box-shadow: 0px 10px 35px -18px rgba(0,0,0,0.2);
    transition: all .5s ease;
  }

  nav:hover .logo{
    filter:brightness(500%);
  }

  nav .logo{
    filter:brightness(100%);
  }

  .navigation, nav,form,.flexRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    padding-right: 20px;
  }

  .navigation > * {
    margin: 3px;
  }

  a.nav:hover, nav a.nav, nav:hover a.nav:hover{
    border-bottom: 1px solid #414141;
    transition: all .3s ease;
  }

  a.nav, nav:hover a.nav{
    border-bottom: 1px solid white;
    transition: all .3s ease;
  }

  .avatar {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    border: 3px solid white;
    padding: 2px;
  }

  .avatarAnnonce {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    border: 2px solid #c8984c;
    margin-right: 5px;
    padding: 2px;
  }

  button.full{
    background: #c8984c;
    padding:10px;
    border-radius: 10px;
    border: 0;
    color:white;
    font-size: 15px;
  }

  .light{
    background: white;
    padding:10px;
    border: 1px solid white !important;
    border-radius: 10px;
    border: 0;
    color:#434852;
    font-size: 15px;
    transition: all .3s ease;
  }

  .light:hover{
    border: 1px solid #434852 !important;
    transition: all .3s ease;
  }

  *{box-sizing:border-box}

  img{
  max-width: 100%;
  }

.name {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top:30px;
}

/*pour le saut de page, on cree une class que l'on met en display:none*/
.target{
display: none;
}
/* englobe le slider */

.cadre_diapo{
max-width: 400px;
overflow: hidden;
}
.interieur_diapo{
display: flex;
width: 400%;
transition: transform .6s ease-in-out;
}

.description{
position: relative;
}

.description span{
position: absolute;
left: 0;
top: 2%;
font-size: 75%;
display: flex;
padding: .5rem;
justify-content: left;
color: white;
background: hsla(0,0%,0%,.35)
}


#marimba1:target ~ .cadre_diapo .interieur_diapo{
transform:translatex(0)
}/*image 1*/

#marimba2:target ~ .cadre_diapo .interieur_diapo{
transform:translatex(-26%)
}/*image 2*/

#marimba3:target ~ .cadre_diapo .interieur_diapo{
transform:translatex(-51.1%)
}/*image 3*/

#marimba4:target ~ .cadre_diapo .interieur_diapo{
transform:translatex(-76%)
}

.navigation_diapo{
display: flex; /*permet d'aligner les photos les unes à la suite des autres, on peut aussi utiliser le positionnement absolu*/
list-style-type: none;
margin: 0;
padding: 0
}

.navigation_diapo li {
  padding: .25rem;
}

.navigation_diapo img{
border: 3px solid white;
box-shadow:0 0 5px hsla(0,0%,0%,.4);
}

hr.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25%;
  border-top: 2px solid #bbb;
  
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: small;
  padding-right: 33%;
  padding-bottom: 10px;
}

.cadre_owner {
  width: fit-content;
  height: fit-content;
  padding: 5px;
}

.avatar_prop {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  margin-right: 5px;
}

.cadre_owner img {
  vertical-align: middle;
}

.cadre_owner h1 {
  font-size: 24px;
}

.cadre_owner p {
  padding-top: 10px;
  padding-right: 33%;
}

.cadre_owner a {
  font-weight: bold;
  color: #2d3436;
}

@media (min-width:31.25rem){
.description span{
font-size: initial
}
}
  .content{
    padding: 20px;
  }